ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 98%;
    opacity: 0.85;
}

ul:hover {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 98%;
    opacity: 1;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: verdana;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #31E09B;
    color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
	background-color: #31E09B;
	color: #4D4D4D;	
}

input[type=text], select {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

body {
	background-image: url(dj.jpg);
}

label {
	font-weight: bold;
}

.formulir {
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.75;
    padding: 90px;
    margin: 100px;
    font-family: verdana;
}

.formulir:hover {
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 1;
    padding: 90px;
    margin: 100px;
    font-family: verdana;
}

h1 {
	text-align: center;
	font-family: arial;
	color: #303030;
}