ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 98%;
    opacity: 0.85;
}

ul:hover {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 98%;
    opacity: 1;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: verdana;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #31E09B;
    color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #54DA97;
}

body {
    background-color: #474747;
}

img {
    width: 300px;
    height: 270px;
    z-index: 0;
    position: absolute;
}

.layer {
    background-color: #393939;
    margin: 100px;
    margin-left: 350px;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.tulisan {
    z-index: 1;
    color: white;
}

.dalem {
    margin: 10px;
    background-color: #393939;
    padding: 20px;
    font-family: verdana;
    font-size: 20px;
}